@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src: url('/static/fonts/roboto/Roboto Light.eot');
  src: url('/static/fonts/roboto/Roboto Light.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/roboto/Roboto Light.woff') format('woff'),
       url('/static/fonts/roboto/Roboto Light.ttf') format('truetype'),
       url('/static/fonts/roboto/Roboto Light.svg#RobotoLight') format('svg');
}
@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url('/static/fonts/roboto/Roboto Bold.eot');
  src: url('/static/fonts/roboto/Roboto Bold.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/roboto/Roboto Bold.woff') format('woff'),
       url('/static/fonts/roboto/Roboto Bold.ttf') format('truetype'),
       url('/static/fonts/roboto/Roboto Bold.svg#Roboto') format('svg');
}
